#main-body {
  display: flex;

  #user-post {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #user-friends {
    width: 30%;
    padding: 20px;
    border-left: 2px solid lightgray;
  }
}
